﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage/NeedlyMaster.Master" AutoEventWireup="true" CodeBehind="APIDoc.aspx.cs" Inherits="NeedlyApp.Admin.APIDoc" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style>
        p {
  font-size: 20px;
}
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
     <div class="row">
       
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-list"></i> JSON API <small></small></h2>
                    <div class="container-fluid">
                       
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <p>
                  API URL : https://needly.in/web_Services/NeedlyService.svc/
                        <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp UploadWhatsAppMessageDetails/WhatsAppMessageDetails
                     <br />
                     <br />
                    [{ <br />
    "CreatedBy": "9999999999",  <br />
    
    "FromUsernumber": "7777777777",  <br />
    "Id": "1",  <br />
    "ImgDateTime": "1",  <br />
    "LocalId": "1",  <br />
    "ModifiedBy": "1",  <br />
    "Msg": "hiii",  <br />
    "ServerId": "1",  <br />
    "ToUsernumber": "11",  <br />
    "Type": "1"  <br />
  }]
                        </p>

                </div>
            </div>
        </div>
                 
     
    </div>
</asp:Content>
